{% extends "admin_base.html" %}

{% block content %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>信息复核</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/admin">首页</a>
            </li>
            <li>
                <a href="/admin/company_list">申请核查列表</a>
            </li>
            <li class="active">
                <strong>信息复核</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row" id="vue-app">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>申请信息</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <h2 >
                        {{item.name}}<br/>
                    </h2>
                    <p>社会信用代码：{{item.uscc}}</p>
                    <p>国税代码：{{item.gs_username}}</p>
                    <p>地税代码：{{item.ds_username}}</p>
                    <p>国税密码：{{item.gs_password}}
                      {% if item.gs_errno != '0' %}
                      <label class="label label-danger">
                      {{item.gs_errno}}-{{item.gs_errmsg}}
                      </lable>
                      {% endif %}
                    </p>
                    <p>地税密码：{{item.ds_password}}
                      {% if item.ds_errno != '0' %}
                      <label class="label label-danger">
                      {{item.ds_errno}}-{{item.ds_errmsg}}
                      </lable>
                      {% endif %}
                    </p>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <form name="taxListForm" class="ibox float-e-margins" method="post" action="/admin/company_apply_edit">
              <input type="hidden" name="id" value="{{item.id}}" />
              <input type="hidden" name="oper" value="edit_taxList" />
                <div class="ibox-title">
                    <h5>财务数据</h5>
                    <div class="ibox-tools">
                        <button type="submit" class="btn btn-xs btn-primary">确认保存</button>
                    </div>
                </div>
                <div class="ibox-content">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th></th>
                            {% for o in taxValueKey %}
                            <th>{{o}}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>主要税费</td>
                            {% for o in taxValueKey %}
                            <td><input v-model="v_{{o}}_tax" class="full-width" name="{{o}}_tax" value="{{taxValue[o].tax}}"></td>
                            {% endfor %}
                          </tr>
                          <tr>
                            <td>进项税</td>
                            {% for o in taxValueKey %}
                            <td><input class="full-width" name="{{o}}_jinxiangshui" value="{{taxValue[o].jinxiangshui}}"></td>
                            {% endfor %}
                          </tr>
                          <tr>
                            <td>关税</td>
                            {% for o in taxValueKey %}
                            <td><input class="full-width" name="{{o}}_guanshui" value="{{taxValue[o].guanshui}}"></td>
                            {% endfor %}
                          </tr>
                          <tr>
                            <td>资产</td>
                            {% for o in taxValueKey %}
                            <td><input v-model="v_{{o}}_assets" class="full-width" name="{{o}}_assets" value="{{taxValue[o].assets}}"></td>
                            {% endfor %}
                          </tr>
                          <tr>
                            <td>实收资本或股本</td>
                            {% for o in taxValueKey %}
                            <td><input v-model="v_{{o}}_capital" class="full-width" name="{{o}}_capital" value="{{taxValue[o].capital}}"></td>
                            {% endfor %}
                          </tr>
                          <tr>
                            <td>所有者权益</td>
                            {% for o in taxValueKey %}
                            <td><input v-model="v_{{o}}_equity" class="full-width" name="{{o}}_equity" value="{{taxValue[o].equity}}"></td>
                            {% endfor %}
                          </tr>
                          <tr>
                            <td>负债</td>
                            {% for o in taxValueKey %}
                            <td><input v-model="v_{{o}}_liability" class="full-width" name="{{o}}_liability" value="{{taxValue[o].liability}}"></td>
                            {% endfor %}
                          </tr>
                          <tr>
                            <td>业务收入</td>
                            {% for o in taxValueKey %}
                            <td><input v-model="v_{{o}}_revenue" class="full-width" name="{{o}}_revenue" value="{{taxValue[o].revenue}}"></td>
                            {% endfor %}
                          </tr>
                          <tr>
                            <td>财务费用</td>
                            {% for o in taxValueKey %}
                            <td><input v-model="v_{{o}}_interest" class="full-width" name="{{o}}_interest" value="{{taxValue[o].interest}}"></td>
                            {% endfor %}
                          </tr>

                          <tr>
                            <td>特别调整</td>
                            {% for o in taxValueKey %}
                            <td><input class="full-width" name="{{o}}_remark" value="{{taxValue[o].remark}}"></td>
                            {% endfor %}
                          </tr>
                          <tr>
                            <td>相关说明</td>
                            {% for o in taxValueKey %}
                            <td><textarea class="full-width" rows="3" name="{{o}}_other">{{taxValue[o].other}}</textarea></td>
                            {% endfor %}
                          </tr>
                          <tr>
                            <td>发票情况</td>
                            {% for o in taxValueKey %}
                            <td><textarea class="full-width" rows="3" name="{{o}}_fapiao">{{taxValue[o].fapiao}}</textarea></td>
                            {% endfor %}
                          </tr>
                          <tr>
                            <td>综合评价</td>
                            {% for o in taxValueKey %}
                            <td><textarea class="full-width" rows="3" name="{{o}}_pingjia">{{taxValue[o].pingjia}}</textarea></td>
                            {% endfor %}
                          </tr>

                        </tbody>
                    </table>
                </div>
            </form>
        </div>

        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="tabs-container">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#tab-1">基础信息</a></li>
                            <li class=""><a data-toggle="tab" href="#tab-2">税务登记</a></li>
                            <li class=""><a data-toggle="tab" href="#tab-3">税款明细</a></li>
                            <li class=""><a data-toggle="tab" href="#tab-4">财务报表</a></li>
                            <li class=""><a data-toggle="tab" href="#tab-5">T*G星级</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="tab-1" class="tab-pane active p-xs">
                                <table class="table table-bordered table-striped">
                                  <tbody>
                                    <tr>
                                      <th width="150px">工商注册号</th>
                                      <td>{{resultJson.info.gszch}}</td>
                                    </tr>
                                    <tr>
                                      <th>法人</th>
                                      <td>{{resultJson.info.fr}}</td>
                                    </tr>
                                    <tr>
                                      <th>企业类型</th>
                                      <td>{{resultJson.info.qylx}}</td>
                                    </tr>
                                    <tr>
                                      <th>住所</th>
                                      <td>{{resultJson.info.zs}}</td>
                                    </tr>
                                    <tr>
                                      <th>成立日期</th>
                                      <td>{{resultJson.info.clrq}}</td>
                                    </tr>
                                  </tbody>
                                </table>
                            </div>
                            <div id="tab-2" class="tab-pane p-xs">
                              <table class="table table-bordered table-striped">
                                <tbody>
                                  <tr>
                                    <th width="150px">纳税人识别号</th>
                                    <td>{{resultJson.info.nsrsbh}}</td>
                                    <th width="150px">纳税人名称</th>
                                    <td>{{resultJson.info.name}}</td>
                                  </tr>
                                  <tr>
                                    <th>组织机构代码</th>
                                    <td>{{resultJson.info.zzjgdm}}</td>
                                    <th>生产经营期限</th>
                                    <td>{{resultJson.info.scjyqx}}</td>
                                  </tr>
                                  <tr>
                                    <th>注册地址</th>
                                    <td colspan="3">{{resultJson.info.zcdz}}</td>
                                  </tr>
                                  <tr>
                                    <th>注册地邮政编码</th>
                                    <td>{{resultJson.info.zcdyzbm}}</td>
                                    <th>注册地联系电话</th>
                                    <td>{{resultJson.info.zcdlxdh}}</td>
                                  </tr>

                                  <tr>
                                    <th>生产经营地址</th>
                                    <td colspan="3">{{resultJson.info.scjydz}}</td>
                                  </tr>
                                  <tr>
                                    <th>生产地邮政编码</th>
                                    <td>{{resultJson.info.scdyzbm}}</td>
                                    <th>生产地联系电话</th>
                                    <td>{{resultJson.info.scdlxdh}}</td>
                                  </tr>

                                  <tr>
                                    <th>从业人数</th>
                                    <td>{{resultJson.info.cyrs}}</td>
                                    <th>外籍人数</th>
                                    <td>{{resultJson.info.wjrs}}</td>
                                  </tr>

                                  <tr>
                                    <th>经营范围</th>
                                    <td colspan="3">{{resultJson.info.jyfw}}</td>
                                  </tr>
                                </tbody>
                              </table>

                              <h4>投资方信息</h4>
                              <table class="table table-bordered table-striped">
                                <thead>
                                  <tr>
                                    <th>投资方名称</th>
                                    <th>投资方经济性质</th>
                                    <th>投资比例</th>
                                    <th>证件种类</th>
                                    <th>证件号码</th>
                                    <th>国籍或地址</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  {% for o in resultJson.info.tzfxx %}
                                  <tr>
                                    <th>{{o.tzfmc}}</th>
                                    <td>{{o.jjxz}}</td>
                                    <th>{{o.tzbl}}</th>
                                    <th>{{o.zjzl}}</th>
                                    <td>{{o.zjhm}}</td>
                                    <th>{{o.gjdz}}</th>
                                  </tr>
                                  {% endfor %}
                                </tbody>
                              </table>
                            </div>
                            <div id="tab-3" class="tab-pane p-xs">
                              <div class="tabs-container">

                                  <div class="tabs-left" >
                                      <ul class="nav nav-tabs" style="width:10%;">
                                        {% for k,o in resultJson.taxGroup %}
                                        <li class="{{'active' if loop.index == 1}}"><a data-toggle="tab" href="#tax-group-{{loop.index}}">{{k}}</a></li>
                                        {% endfor %}
                                      </ul>
                                      <div class="tab-content">
                                        {% for k,p in resultJson.taxGroup %}
                                        <div id="tax-group-{{loop.index}}" class="tab-pane {{'active' if loop.index == 1}}">
                                            <div class="panel-body" style="margin-left:10%;width:90%;" >
                                              <table class="table table-bordered table-striped">
                                                <thead>
                                                  <tr>
                                                    <th width="300px">名称</th>
                                                    <th>金额</th>
                                                    <th>时间</th>
                                                    <th>备注</th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  {% for o in p %}
                                                  <tr>
                                                    <td>{{o.name}}</td>
                                                    <td>{{o.money}}</td>
                                                    <td>{{o.time}}</td>
                                                    <td>{{o.remark}}</td>
                                                  </tr>
                                                  {% endfor %}
                                                </tbody>
                                              </table>
                                            </div>
                                        </div>
                                        {% endfor %}
                                      </div>

                                  </div>

                              </div>
                            </div>
                            <div id="tab-4" class="tab-pane p-xs">
                              <table class="table table-bordered table-striped">
                                <thead>
                                  <tr>
                                    <th>名称</th>
                                    <th>时间</th>
                                    <th>来源</th>
                                    <th>操作</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  {% for o in resultJson.cwbbList %}
                                  <tr>
                                    <td>{{o.name}}</td>
                                    <td>{{o.time}}</td>
                                    <td>{{o.remark}}</td>
                                    <td>
                                      {% for p in o.archiveList %}
                                      <a href="/archive/view?hash={{p.hash}}&type={{p.type}}" target="_blank">{{p.name}}</a>
                                      {% endfor %}

                                    </td>
                                  </tr>
                                  {% endfor %}

                                </tbody>
                              </table>
                            </div>
                            <div id="tab-5" class="tab-pane p-xs">
                              <table class="table table-bordered">
                                  <thead>
                                  <tr>
                                      <th>T(x)*G(y)</th>
                                      {% for o in taxValueKey %}
                                      <th>{{o}}</th>
                                      {% endfor %}
                                  </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>T¥*</td>
                                      {% for o in taxValueKey %}
                                      <td>#{v_{{o}}_ts}*</td>
                                      {% endfor %}
                                    </tr>
                                    <tr>
                                      <td>G(a)</td>
                                      {% for o in taxValueKey %}
                                      <td>#{v_{{o}}_ga}a</td>
                                      {% endfor %}
                                    </tr>
                                    <tr>
                                      <td>G(c)</td>
                                      {% for o in taxValueKey %}
                                      <td>#{v_{{o}}_gc}c</td>
                                      {% endfor %}
                                    </tr>
                                    <tr>
                                      <td>G(e)</td>
                                      {% for o in taxValueKey %}
                                      <td>#{v_{{o}}_ge}e</td>
                                      {% endfor %}
                                    </tr>
                                    <tr>
                                      <td>G(i)</td>
                                      {% for o in taxValueKey %}
                                      <td>#{v_{{o}}_gi}i</td>
                                      {% endfor %}
                                    </tr>
                                    <tr>
                                      <td>G(L)</td>
                                      {% for o in taxValueKey %}
                                      <td>#{v_{{o}}_gl}L</td>
                                      {% endfor %}
                                    </tr>
                                    <tr>
                                      <td>G(r)</td>
                                      {% for o in taxValueKey %}
                                      <td>#{v_{{o}}_gr}r</td>
                                      {% endfor %}
                                    </tr>

                                    <tr>
                                      <td>G(v)</td>
                                      {% for o in taxValueKey %}
                                      <td></td>
                                      {% endfor %}
                                    </tr>
                                    <tr>
                                      <td>-T*</td>
                                      {% for o in taxValueKey %}
                                      <td></td>
                                      {% endfor %}
                                    </tr>
                                  </tbody>
                              </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<!-- Jquery Validate -->
<script src="/static/in/js/plugins/validate/jquery.validate.min.js"></script>
<script src="/static/js/vue.min.js"></script>
<script>
  $(function(){

    var app = new Vue({
      el:'#vue-app',
      delimiters:['#{','}'],
      data: {
        {% for o in taxValueKey %}
        v_{{o}}_tax:'{{taxValue[o].tax}}',
        v_{{o}}_assets:'{{taxValue[o].assets}}',
        v_{{o}}_capital:'{{taxValue[o].capital}}',
        v_{{o}}_equity:'{{taxValue[o].equity}}',
        v_{{o}}_liability:'{{taxValue[o].liability}}',
        v_{{o}}_revenue:'{{taxValue[o].revenue}}',
        v_{{o}}_interest:'{{taxValue[o].interest}}',
        {% endfor %}
        a1:'a1'
      },
      computed: {
        {% for o in taxValueKey %}
        v_{{o}}_ts: function(){
          var tax = parseInt(this.v_{{o}}_tax);
          return tax > 1000 ? (Math.log(tax/1000)/Math.log(10)).toFixed(2) : '0.00'
        },
        v_{{o}}_ga: function(){
          var tax = parseInt(this.v_{{o}}_tax),
              assets = parseFloat(this.v_{{o}}_assets);
          return (assets && tax) ? (100*tax/assets).toFixed(2) : '0.00';
        },
        v_{{o}}_gc: function(){
          var tax = parseInt(this.v_{{o}}_tax),
              capital = parseFloat(this.v_{{o}}_capital);
          return (capital && tax) ? (100*tax/capital).toFixed(2) : '0.00';

        },
        v_{{o}}_ge: function(){
          var tax = parseInt(this.v_{{o}}_tax),
              equity = parseFloat(this.v_{{o}}_equity);
          return (equity && tax) ? (100*tax/equity).toFixed(2) : '0.00';
        },
        v_{{o}}_gi: function(){
          var tax = parseInt(this.v_{{o}}_tax),
              interest = parseFloat(this.v_{{o}}_interest);
          return (interest && tax) ? (tax/interest).toFixed(2) :'0.00';
        },
        v_{{o}}_gl: function(){
          var tax = parseInt(this.v_{{o}}_tax),
              liability = parseFloat(this.v_{{o}}_liability);
          return (liability && tax) ? (100*tax/liability).toFixed(2) : '0.00';
        },
        v_{{o}}_gr: function(){
          var tax = parseInt(this.v_{{o}}_tax),
              revenue = parseFloat(this.v_{{o}}_revenue);
          return (revenue && tax) ? (100*tax/revenue).toFixed(2) : '0.00';
        },
        {% endfor %}
        a2:'a2'
      }
    })

    $('form').validate({
      submitHandler: function(form) {
        var $form = $(form);
        var data = _.reduce($form.serializeArray(), function(result, o) {
          result[o.name] = o.value;
          return result;
        }, {});

        var url = $form.attr('action');
        var type = $form.attr('method')
        $.ajax({
          url: url,
          type: type,
          data: data,
          success: function(resp) {
            if (resp.errno == 0) {
              alert('操作成功');
              if (resp.data.reload) document.location.reload();
              else if(resp.data.back) history.go(-1);
              else if (resp.redirect) window.location.href = resp.redirect;
            } else {
              alert(resp.errmsg);
            }
          }
        });

        return false;
      }
    });
  })
</script>
{% endblock %}
