{% extends "index_base.html" %}

{% block content %}

<div class="row">
<div class="col-md-8 col-md-offset-2">
        <!-- General Unify Forms -->
        <form method="post" action="/company/apply" class="sky-form">
            <input type="hidden" name="id" value="{{item.id}}" />
            <header>申请核查信息</header>
            {% if item.gs_errmsg %}
            <div class="alert alert-danger alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
              </button>
              国税:{{item.gs_errmsg}},{{item.gs_errno}}
            </div>
            {% endif %}
            {% if item.ds_errmsg %}
            <div class="alert alert-danger alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
              </button>
              地税:{{item.ds_errmsg}},{{item.ds_errno}}
            </div>
            {% endif %}

            <fieldset>
                <section>
                    <label class="label">公司名称</label>
                    <label class="input">
                        <input type="text" name="name" value={{item.name}}>
                    </label>
                </section>

                <section>
                    <label class="label">社会信用代码</label>
                    <label class="input">
                        <input type="text" name="uscc" value="{{item.uscc}}">
                    </label>
                </section>

                <section class="row">
                  <div class="col-md-6">
                    <label class="label">国税代码</label>
                    <label class="input {{'state-error' if item.gs_errno == 'ERR_01'}}">
                        <input type="text" name="gs_username" value="{{item.gs_username}}">
                    </label>
                  </div>
                  <div class="col-md-6">
                    <label class="label">地税代码</label>
                    <label class="input {{'state-error' if item.ds_errno == 'ERR_01'}}">
                        <input type="text" name="ds_username" value="{{item.ds_username}}">
                    </label>
                  </div>
                </section>

                <section class="row">
                  <div class="col-md-6">
                    <label class="label">国税密码</label>
                    <label class="input {{'state-error' if item.gs_errno == 'ERR_02'}}">
                        <input type="password" name="gs_password" value="{{item.gs_password}}">
                    </label>
                  </div>
                  <div class="col-md-6">
                    <label class="label">地税密码</label>
                    <label class="input {{'state-error' if item.ds_errno == 'ERR_02'}}">
                        <input type="password" name="ds_password" value="{{item.ds_password}}">
                    </label>
                  </div>
                </section>

                <section>
                    <label class="label">联系方式</label>
                    <label class="input">
                        <input type="text">
                    </label>
                </section>
            </fieldset>

            <footer>
                <button type="submit" class="btn-u">申请审核</button>
            </footer>
        </form>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="//cdn.bootcss.com/jquery-validate/1.13.0/jquery.validate.min.js"></script>
<script src="//cdn.bootcss.com/lodash.js/4.16.4/lodash.min.js"></script>
<script>
  $(function(){

    reloadCaptcha = function(){
      $('#img-captcha').attr('src', '/jsgs/captcha?_='+moment().unix());
    }
    $('form').validate({
      submitHandler:function(form){
        var $form = $(form);
        var data = _.reduce($form.serializeArray(), function(result, o){
          result[o.name] = o.value;
          return result;
        }, {});

        var url = $form.attr('action');
        var type = $form.attr('method');
        $.ajax({
          url: url,
          type: type,
          data: data,
          success: function(resp){
            if(resp.errno == 0){
              alert('申请审核成功');
              if(resp.data.redirect) location.href = resp.data.redirect;
              else if(resp.data.reload) location.reload();
            }else{
              reloadCaptcha();
              alert(resp.errmsg);
            }
          }
        });
      }
    })
  });
</script>
{% endblock %}

{% block css %}

<!-- CSS Implementing Plugins -->
<link rel="stylesheet" href="/static/unify/plugins/animate.css">
<link rel="stylesheet" href="/static/unify/plugins/line-icons/line-icons.css">
<link rel="stylesheet" href="/static/unify/plugins/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/unify/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
<link rel="stylesheet" href="/static/unify/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
<!--[if lt IE 9]><link rel="stylesheet" href="/static/unify/plugins/sky-forms-pro/skyforms/css/sky-forms-ie8.css"><![endif]-->


<!-- CSS Theme -->
<link rel="stylesheet" href="/static/unify/css/theme-colors/default.css" id="style_color">
<link rel="stylesheet" href="/static/unify/css/theme-skins/dark.css">
{% endblock %}
