{% extends "index_base.html" %}

{% block content %}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <!-- General Unify Forms -->
        <form method="post" action="/company/apply" class="sky-form">
            <input type="hidden" name="id" value="{{item.id}}" />
            <header>提请审核</header>
            {% if item.gs_errmsg %}
            <div class="alert alert-danger alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
              </button>
              国税:{{item.gs_errmsg}},{{item.gs_errno}}
            </div>
            {% endif %}
            {% if item.ds_errmsg %}
            <div class="alert alert-danger alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
              </button>
              地税:{{item.ds_errmsg}},{{item.ds_errno}}
            </div>
            {% endif %}

            <fieldset>

                <div class="row">
                  <div class="col-md-12 padding-xxs-horizontal">
                    <label class="label hide">社会信用代码</label>
                    <label class="input">
                        <input type="text" name="uscc" value="{{item.uscc}}" placeholder="社会信用代码">
                    </label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 padding-xxs-horizontal">
                    <label class="label hide">单位/个人名称</label>
                    <label class="input">
                        <input type="text" name="name" value="{{item.name}}" placeholder="单位/个人名称">
                    </label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 padding-xxs-horizontal">
                    <label class="label hide">或：国税代码</label>
                    <label class="input {{'state-error' if item.gs_errno == 'ERR_01'}}">
                        <input type="text" name="gs_username" value="{{item.gs_username}}" placeholder="或：国税代码">
                    </label>
                  </div>
                  <div class="col-md-6 padding-xxs-horizontal">
                    <label class="label hide">地税代码</label>
                    <label class="input {{'state-error' if item.ds_errno == 'ERR_01'}}">
                        <input type="text" name="ds_username" value="{{item.ds_username}}" placeholder="地税代码">
                    </label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 padding-xxs-horizontal">
                    <label class="label hide">国税密码</label>
                    <label class="input {{'state-error' if item.gs_errno == 'ERR_02'}}">
                        <input type="text" name="gs_password" value="{{item.gs_password}}" placeholder="国税密码">
                    </label>
                  </div>
                  <div class="col-md-6 padding-xxs-horizontal">
                    <label class="label hide">地税密码</label>
                    <label class="input {{'state-error' if item.ds_errno == 'ERR_02'}}">
                        <input type="text" name="ds_password" value="{{item.ds_password}}" placeholder="地税密码">
                    </label>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6 padding-xxs-horizontal">
                    <label class="label hide">联系人</label>
                    <label class="input">
                        <input type="text" name="contact_name" value="{{item.contact_name}}" placeholder="联系人">
                    </label>
                  </div>
                  <div class="col-md-6 padding-xxs-horizontal">
                    <label class="label hide">联系电话</label>
                    <label class="input">
                        <input type="text" name="contact_mobile" value="{{item.contact_mobile}}" placeholder="联系电话">
                    </label>
                  </div>
                </div>
            </fieldset>

            <footer>
                <button type="submit" class="btn-u">提交申请</button>
            </footer>
        </form>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="//cdn.bootcss.com/jquery-validate/1.13.0/jquery.validate.min.js"></script>

<script src="/static/plugins/suggest/jquery.suggest.js"></script>

<script>
  $(function(){

    if(window.localStorage){
      var list = JSON.parse(localStorage.getItem('apply_uscc_list') || '[]');
      if(list.length > 0){
        $('[name=uscc]').suggest({words:list})
      }

    }

    $('form').validate({
      submitHandler:function(form){
        var $form = $(form);
        var data = _.reduce($form.serializeArray(), function(result, o){
          result[o.name] = o.value;
          return result;
        }, {});

        var url = $form.attr('action');
        var type = $form.attr('method');
        $.ajax({
          url: url,
          type: type,
          data: data,
          success: function(resp){
            if(resp.errno == 0){
              alert('申请审核成功');

              if(window.localStorage){
                var list = JSON.parse(localStorage.getItem('apply_uscc_list') || '[]');
                if(!~list.indexOf(data.uscc)){
                  list.push(data.uscc);
                  localStorage.setItem('apply_uscc_list', JSON.stringify(list));
                }
              }
              if(resp.data.redirect) location.href = resp.data.redirect;
              else if(resp.data.reload) location.reload();
            }else{
              alert(resp.errmsg);
            }
          }
        });
      }
    })
  });
</script>
{% endblock %}

{% block css %}

<!-- CSS Implementing Plugins -->
<link rel="stylesheet" href="/static/unify/plugins/animate.css">
<link rel="stylesheet" href="/static/unify/plugins/line-icons/line-icons.css">
<link rel="stylesheet" href="/static/unify/plugins/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/unify/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
<link rel="stylesheet" href="/static/unify/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
<!--[if lt IE 9]><link rel="stylesheet" href="/static/unify/plugins/sky-forms-pro/skyforms/css/sky-forms-ie8.css"><![endif]-->


<!-- CSS Theme -->
<link rel="stylesheet" href="/static/unify/css/theme-colors/default.css" id="style_color">
<link rel="stylesheet" href="/static/unify/css/theme-skins/dark.css">
{% endblock %}
