<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>江苏国税</title>

    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
  </head>
  <body>
    <div class="container">

      <div class="row">
        <div class="col-sm-12">
          <table class="table table-condensed">
            <tbody>
              <tr>
                <td width="150px">纳税人名称</td>
                <td>{{info.nsrmc}}</td>
              </tr>
              <tr>
                <td>纳税人识别号</td>
                <td>{{info.nsrsbh}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="panel panel-default">
          <table class="table">
            <thead>
              <tr>
                <th>T(x)*G(y)</th>
                <th>2016.11</th>
                <th>2015.12</th>
                <th>2014.12</th>
                <th>2013.12</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td title="=lg实缴税收(千元)">T¥*</td>
                <td>{{grid.a[0]}}*</td>
                <td>7.2* [20]</td>
                <td>7.1* [25]</td>
                <td>6.9* [29]</td>
              </tr>
              <tr>
                <td title="=税收/总资产(assets)(%)">G(a)</td>
                <td></td>
                <td>0.6a [2916]</td>
                <td>0.6a [7939]</td>
                <td>0.5a [7853]</td>
              </tr>
              <tr>
                <td title="=税收/总资本(capital)(%)">G(c)</td>
                <td>{{grid.c[0]}}c</td>
                <td>105.6c [137]</td>
                <td>113.7c [123]</td>
                <td>90.9c [206]</td>
              </tr>
              <tr>
                <td title="=税收/总权益(equity)(%)">G(e)</td>
                <td></td>
                <td>9.4e [704]</td>
                <td>9.9e [2875]</td>
                <td>7.7e [3850]</td>
              </tr>
              <tr>
                <td title="=税收/财务费用(interest)">G(i)</td>
                <td></td>
                <td>0.2i [2114]</td>
                <td>0.2i [6261]</td>
                <td>0.2i [6060]</td>
              </tr>
              <tr>
                <td title="=税收/总负债(liability)(%)">G(L)</td>
                <td></td>
                <td>0.6L [3064]</td>
                <td>0.6L [8355]</td>
                <td>0.5L [8227]</td>
              </tr>
              <tr>
                <td title="=税收/营业收入(revenue)(%)">G(r)</td>
                <td></td>
                <td>15.7r [329]</td>
                <td>17.7r [325]</td>
                <td>16.5r [396]</td>
              </tr>
              <tr>
                <td title="=税收/市值(value)(%)">G(v)</td>
                <td></td>
                <td>12.3v [73]</td>
                <td>7.3v [106]</td>
                <td>5.8v [177]</td>
              </tr>
              <tr>
                <td title="=-lg退税(千元)">-T*</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
              </tr>
            <tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading">
            税务登记信息
          </div>
          <table class="table">
            <tbody>
              <tr>
                <td width="150px">纳税人名称</td>
                <td>{{swdjxx.NSRMC}}</td>
              </tr>
              <tr>
                <td>纳税人识别号</td>
                <td>{{swdjxx.NSRSBH}}</td>
              </tr>
              <tr>
                <td>登记注册类型</td>
                <td>{{swdjxx.DJZCLX_MC}}</td>
              </tr>
              <tr>
                <td>批准设立机关</td>
                <td>{{swdjxx.PZSLJG}}</td>
              </tr>
              <tr>
                <td>组织机构代码</td>
                <td>{{swdjxx.ZZJG_DM}}</td>
              </tr>
              <tr>
                <td>批准设立证明或文件号</td>
                <td>{{swdjxx.PZWH}}</td>
              </tr>
              <tr>
                <td>开业（设立）日期</td>
                <td>{{swdjxx.KYSLRQ}}</td>
              </tr>
              <tr>
                <td>生产经营期限</td>
                <td>{{swdjxx.scjyqxq}}~{{swdjxx.scjyqxz}}</td>
              </tr>
              <tr>
                <td>证照名称</td>
                <td>{{swdjxx.ZZMC}}</td>
              </tr>
              <tr>
                <td>证照号码</td>
                <td>{{swdjxx.ZZHM}}</td>
              </tr>
              <tr>
                <td>注册地址</td>
                <td>{{swdjxx.ZCDZ}}</td>
              </tr>
              <tr>
                <td>注册地址-邮政编码</td>
                <td>{{swdjxx.ZCD_YB}}</td>
              </tr>
              <tr>
                <td>注册地址-联系电话</td>
                <td>{{swdjxx.ZCD_DHHM}}</td>
              </tr>
              <tr>
                <td>生产经营地址</td>
                <td>{{swdjxx.SCJYDZ}}</td>
              </tr>
              <tr>
                <td>生产经营地址-邮政编码</td>
                <td>{{swdjxx.SCJYD_YB}}</td>
              </tr>
              <tr>
                <td>生产经营地址-联系电话</td>
                <td>{{swdjxx.SCJYD_DHHM}}</td>
              </tr>
              <tr>
                <td>核算方式</td>
                <td>{{swdjxx.HSFS_MC}}</td>
              </tr>
              <tr>
                <td>从业人数</td>
                <td>{{swdjxx.CYRS}}</td>
              </tr>
              <tr>
                <td>其中外籍人数</td>
                <td>{{swdjxx.WJRS}}</td>
              </tr>
              <tr>
                <td>单位性质</td>
                <td>{{swdjxx.nsrsbh}}</td>
              </tr>
              <tr>
                <td>网站网址</td>
                <td>{{swdjxx.WZWZ}}</td>
              </tr>
              <tr>
                <td>国标行业</td>
                <td>{{swdjxx.GBHY}}</td>
              </tr>
              <tr>
                <td>适用会计制度</td>
                <td>{{swdjxx.SYKJZD_MC}}</td>
              </tr>
              <tr>
                <td>经营范围</td>
                <td>{{swdjxx.JYFW}}</td>
              </tr>
              <tr>
                <td>税务代理人名称</td>
                <td>{{swdjxx.SWDLRMC}}</td>
              </tr>
              <tr>
                <td>纳税人识别号</td>
                <td>{{swdjxx.SWDLR_NSRSBH}}</td>
              </tr>
              <tr>
                <td>联系电话</td>
                <td>{{swdjxx.SWDLR_DHHM}}</td>
              </tr>
              <tr>
                <td>电子邮箱</td>
                <td>{{swdjxx.SWDLR_DYDZ}}</td>
              </tr>
              <tr>
                <td>投资总额</td>
                <td>{{swdjxx.TZZE}}</td>
              </tr>
              <tr>
                <td>投资币种</td>
                <td> * </td>
              </tr>
              <tr>
                <td>注册资本</td>
                <td>{{swdjxx.ZCZB}}</td>
              </tr>
              <tr>
                <td>注册币种</td>
                <td> * </td>
              </tr>
            </tbody>
          </table>

          <table class="table">
            <thead>
              <tr>
                <th>联系人</th>
                <th>姓名</th>
                <th>身份证件种类</th>
                <th>身份证件号码</th>
                <th>固定电话</th>
                <th>移动电话</th>
                <th>电子邮箱</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>法定代表人</th>
                <td>{{swdjxx.FDDBR_MC}}</td>
                <td>{{swdjxx.FR_ZL}}</td>
                <td>{{swdjxx.FRZJHM}}</td>
                <td>{{swdjxx.FR_GDDH}}</td>
                <td>{{swdjxx.FR_YDDHHM}}</td>
                <td>{{swdjxx.FR_DZYX}}</td>
              </tr>
              <tr>
                <th>财务负责人</th>
                <td>{{swdjxx.CWFZR_MC}}</td>
                <td>{{swdjxx.CWFZR_ZL}}</td>
                <td>{{swdjxx.CWFZR_ZJHM}}</td>
                <td>{{swdjxx.CWFZR_DHHM}}</td>
                <td>{{swdjxx.CWFZR_YDDHHM}}</td>
                <td>{{swdjxx.CWFZR_DZYX}}</td>
              </tr>
              <tr>
                <th>办税人</th>
                <td>{{swdjxx.BSR_MC}}</td>
                <td>{{swdjxx.BSR_ZL}}</td>
                <td>{{swdjxx.BSR_ZJHM}}</td>
                <td>{{swdjxx.BSR_DHHM}}</td>
                <td>{{swdjxx.BSR_YDDHHM}}</td>
                <td>{{swdjxx.BSR_DZYX}}</td>
              </tr>
            <tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading">
            投资方信息
          </div>
          <table class="table">
            <thead>
              <tr>
                <th>投资方名称</th>
                <th>投资方经济性质</th>
                <th>投资比例</th>
                <th>身份证件种类</th>
                <th>身份证件号码</th>
                <th>国籍或地址</th>
              </tr>
            </thead>
            <tbody>
              {% for o in tzfxx %}
              <tr>
                <td>{{o.TZFHHHRMC}}</td>
                <td>{{o.JJXZMC}}</td>
                <td>{{o.TZBL}}</td>
                <td>{{o.SFZJLXMC}}</td>
                <td>{{o.TZFHHHRZJHM}}</td>
                <td>{{o.GJHDQJC}}</td>
              </tr>
              {% endfor %}
            <tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading">
            税款缴纳
          </div>
          <table class="table">
            <thead>
              <tr>
                <th>征收项目名称</th>
                <th>征收品目名称</th>
                <th>税款所属期起</th>
                <th>税款所属期止</th>
                <th>税款种类名称</th>
                <th>应补(退)税款</th>
                <th>实缴税额</th>
                <th>缴款期限</th>
                <th>缴款日期</th>
                <th>应征凭证序号</th>
                <th>电子税票号码</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>企业所得税</td>
                <td>应纳税所得额</td>
                <td>2015-07-01 00:00:00</td>
                <td>2015-09-30 00:00:00</td>
                <td>正税</td>
                <td>154.12</td>
                <td>154.12</td>
                <td>2015-10-25 00:00:00</td>
                <td>2015-10-13 08:49:04</td>
                <td>10013216000120019883</td>
                <td>320161013000005937</td>
              </tr>

              <tr>
                <td>增值税</td>
                <td>商业(17%)</td>
                <td>2015-10-01 00:00:00</td>
                <td>2015-10-31 00:00:00</td>
                <td>正税</td>
                <td>1163.19</td>
                <td>1163.19</td>
                <td>2015-11-15 00:00:00</td>
                <td>2015-11-03 20:24:02</td>
                <td>10013216000424603899</td>
                <td>320161103006011569</td>
              </tr>

              <tr>
                <td>2015年</td>
                <td colspan="10">
                  <span class="pull-right">
                    合计：1317.31
                  </span>
                </td>
              </tr>
              {% for o in skjn %}
              <tr>
                <td>{{o.zsxmDm}}</td>
                <td>{{o.zspmDm}}</td>
                <td>{{o.skssqq}}</td>
                <td>{{o.skssqz}}</td>
                <td>{{o.skzlDm}}</td>
                <td>{{o.ybtse}}</td>
                <td>{{o.sjse}}</td>
                <td>{{o.jkqx}}</td>
                <td>{{o.jkrq}}</td>
                <td>{{o.yzpzxh}}</td>
                <td>{{o.dzsphm}}</td>
              </tr>
              {% endfor %}
              <tr>
                <td>2016年</td>
                <td colspan="10">
                  <span class="pull-right">
                    合计：{{skjn_hj}}
                  </span>
                </td>
              </tr>
            <tbody>
          </table>
        </div>
      </div>

    </div>

    <script src="//cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script>
      $(function(){

      });
    </script>
  </body>
</html>
