<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>一般资信 - 国赋资信</title>

    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
  </head>
  <body>
    <div class="container">

      {% if result.length %}
      <div class="row">
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>编号</th>
              <th>名称</th>
            </tr>
          </thead>
          <tbody>
            {% for o in result %}
            <tr>
              <td>{{o.id}}</td>
              <td>
                <a href="/ybzx/detail?id={{o.id}}" target="_blank">{{o.name}}</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% else %}
      没有数据
      {% endif %}


    </div>

    <script src="//cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//cdn.bootcss.com/jquery-validate/1.13.0/jquery.validate.min.js"></script>
    <script src="//cdn.bootcss.com/lodash.js/4.16.4/lodash.min.js"></script>
    <script>
      $(function(){
      });
    </script>
  </body>
</html>
